PAYMASTERSIGNER_PRIVATE_KEY=
OPTIMISM_GOERLI_RPC=
WEB3_STORAGE_API_KEY=
WLD_APP_ID=
PORT=8001
LINEA_PAYMASTER_CONTRACT=
LINEA_PAYMASTER_SIGNER_KEY=

JWT_SECRET=

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=